<nav class="ui inverted black menu">
  <header class="header item"> <a href="/"> dogs </a> </header>
  <div class="right menu">
    <!--<a class="item" href="/signup"> Signup</a>-->
    <a class="item" href="/dogs">  Dogs</a>
    
  </div>
</nav>